<h4  class="newsubject">update profile</h4>
<h5 class="prosub"></h5>
<div class="plink mb-5">
  <div class="plinks">
    <div class="pt-3">
      <h5><a href="{% url 'profile' %}">View Profile</a></h5>  
    </div>
  </div>
</div>            
<div class="plink mb-5">
  <div class="plinks">
    <div class="pt-3">
      <h5><a href="{% url 'profile-update' %}">Edit Profile</a></h5>  
    </div>
  </div>
</div>            
<div class="plink mb-5">
  <div class="plinks">
    <div class="pt-3">
      <h5><a href="{% url 'password-update' %}">Change Password</a></h5> 
    </div>
  </div>
</div>            
<div class="plink mb-5">
  <div class="plinks">
    <div class="pt-3">
      <h5><a href="">ShopCart</a></h5>
    </div>
  </div>
</div> 