{% extends 'base.html' %}


{% load humanize %}


{% block title %} | {{load_profile.user.username}} Password Update{% endblock title %}


{% block header %} {% include "header.html" %} {% endblock header %}


{% block banner %} {% include "banner2.html" %} {% endblock banner %}


{% block content %}
<!-- content -->
<div class="container-fluid mt-5 mb-5">
  <h1  class="subject"><span>{{load_profile.user.username}}</span> Password Update</h1>
  <div class="row mt-5">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 w-25 mt-4 mb-3">
        {% include "profile-left.html" %}    
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 w-25 mt-4 mb-3"> 
        <div class="profile-form">
          <form action="{% url 'password-update' %}" method="POST" class="w-100 mx-auto pl-2">
          {% csrf_token %}
            <h2 class="mb-5" style="color: chocolate;">Username: <span style="color: goldenrod;">{{load_profile.user.username}}</span></h2>
            <div class="form-group">
              <span>Old Password:</span> {{form.old_password}}
            </div>
            <div class="form-group">
              <span>New Password:</span> {{form.new_password1}}
            </div>
            <div class="form-group">
              <span>Confirm New Password:</span> {{form.new_password2}}
            </div>
            <h6> Your password can’t be too similar to your other personal information.</h6>
             <h6>Your password must contain at least 8 characters.</h6>
             <h6>Your password can’t be a commonly used password.</h6>
             <h6>Your password can’t be entirely numeric.</h6>
            <button type="submit" class="btn mybtn">Update</button>
          </form> 
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 w-25 mt-4 mb-3">
        {% include "profile-right.html" %}            
      </div>
  </div>
</div>   
<!--content  -->
{% endblock content %}



{% block footer %} {% include "footer.html" %}{% endblock footer %}