<h4  class="newsubject">explore</h4>
        <h5 class="prosub"></h5>
        <div class="plinka mb-5">
          <div class="plinks">
            <div class="pt-3">
              <h5><a href="{% url 'index' %}">Home</a></h5>
            </div>
          </div>
        </div>            
        <div class="plinka mb-5">
          <div class="plinks">
            <div class="pt-3">
              <h5><a href="{% url 'meals' %}">All Meals</a></h5>
            </div>
          </div>
        </div>            
        <div class="plinka mb-5">
          <div class="plinks">
            <div class="pt-3">
              <h5><a href="">Varieties</a></h5>
            </div>
          </div>
        </div>    
        <div class="plinka mb-5">   
          <div class="plinks">
            <div class="pt-3">
              <h5><a href="{% url 'signout' %}">SignOut</a></h5>
            </div>
          </div>
        </div>    
     